<section class="container px-0 section">
  <div class="row m-0 justify-content-center">
    <div class="col-auto">
      <h1>GATO</h1>
    </div>
  </div>
  <div class="row m-0">
    <h3 *ngIf="player1Name !== ''">Turno de: <span [ngClass]="{'color-red': player1, 'color-blue': !player1}">{{ player1? player1Name + ' (Cruz)' : player2Name + ' (Círculo)' }}</span></h3>
  </div>
  <!--Tic-Tac-Toe Game-->
  <div class="row m-0">
    <div class="row m-0">
      <div class="col-4 border-right border-bottom">
        <button mat-button class="square" id="button1"
                (click)="changeState('button1', 1)" 
                [disabled]="state1 !== '' || !activeGame" 
                [ngClass]="{'red large-text': state1 === 'cross', 'blue large-text': state1 === 'circle'}">
        </button>
      </div>
      <div class="col-4 border-right border-bottom">
        <button mat-button class="square" id="button2"
                (click)="changeState('button2', 2)" 
                [disabled]="state2 !== '' || !activeGame" 
                [ngClass]="{'red large-text': state2 === 'cross', 'blue large-text': state2 === 'circle'}">
        </button>
      </div>
      <div class="col-4 border-bottom">
        <button mat-button class="square" id="button3"
                (click)="changeState('button3', 3)" 
                [disabled]="state3 !== '' || !activeGame" 
                [ngClass]="{'red large-text': state3 === 'cross', 'blue large-text': state3 === 'circle'}">
        </button>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-4 border-right border-bottom">
        <button mat-button class="square" id="button4"
                (click)="changeState('button4', 4)" 
                [disabled]="state4 !== '' || !activeGame" 
                [ngClass]="{'red large-text': state4 === 'cross', 'blue large-text': state4 === 'circle'}">
        </button>
      </div>
      <div class="col-4 border-right border-bottom">
        <button mat-button class="square" id="button5" 
                (click)="changeState('button5', 5)" 
                [disabled]="state5 !== '' || !activeGame" 
                [ngClass]="{'red large-text': state5 === 'cross', 'blue large-text': state5 === 'circle'}">
        </button>
      </div>
      <div class="col-4 border-bottom">
        <button mat-button class="square" id="button6"
                (click)="changeState('button6', 6)" 
                [disabled]="state6 !== '' || !activeGame" 
                [ngClass]="{'red large-text': state6 === 'cross', 'blue large-text': state6 === 'circle'}">
        </button>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-4 border-right">
        <button mat-button class="square" id="button7"
                (click)="changeState('button7', 7)" 
                [disabled]="state7 !== '' || !activeGame" 
                [ngClass]="{'red large-text': state7 === 'cross', 'blue large-text': state7 === 'circle'}">
        </button>
      </div>
      <div class="col-4 border-right">
        <button mat-button class="square" id="button8"
                (click)="changeState('button8', 8)" 
                [disabled]="state8 !== '' || !activeGame" 
                [ngClass]="{'red large-text': state8 === 'cross', 'blue large-text': state8 === 'circle'}">
        </button>
      </div>
      <div class="col-4">
        <button mat-button class="square" id="button9"
                (click)="changeState('button9', 9)" 
                [disabled]="state9 !== '' || !activeGame" 
                [ngClass]="{'red large-text': state9 === 'cross', 'blue large-text': state9 === 'circle'}">
        </button>
      </div>
    </div>
  </div>
  <!--Winner-->
  <div *ngIf="!activeGame" class="row m-0 justify-content-center">
    <div class="col-auto">
      <h2>El ganador es: <span [ngClass]="{'color-red': winner === player1Name, 'color-blue': winner === player2Name}">{{ winner }}</span></h2>
    </div>
  </div>
  <!--Reset Game-->
  <div *ngIf="!activeGame" class="row m-0 justify-content-center">
    <div class="col-auto">
      <button mat-raised-button color="accent" (click)="resetGame()">Jugar de nuevo</button>
    </div>
  </div>
</section>