<section class="container px-0 section">
  <div class="row m-0 justify-content-center">
    <div class="col-auto">
      <h1>GATO</h1>
    </div>
  </div>
  <div class="row m-0">
    <h3>Turno del Jugador: {{ player1? '1 (Cruz)' : '2 (Círculo)' }}</h3>
  </div>
  <!--Tic-Tac-Toe Game-->
  <div class="row m-0">
    <div class="row m-0">
      <div class="col-4 border-right border-bottom">
        <button mat-button class="square" (click)="changeState($event.target!, 1)" [disabled]="state1 !== '' || !activeGame" [ngClass]="{'red': state1 === 'cross', 'blue': state1 === 'circle'}"></button>
      </div>
      <div class="col-4 border-right border-bottom">
        <button mat-button class="square" (click)="changeState($event.target!, 2)" [disabled]="state2 !== '' || !activeGame" [ngClass]="{'red': state2 === 'cross', 'blue': state2 === 'circle'}"></button>
      </div>
      <div class="col-4 border-bottom">
        <button mat-button class="square" (click)="changeState($event.target!, 3)" [disabled]="state3 !== '' || !activeGame" [ngClass]="{'red': state3 === 'cross', 'blue': state3 === 'circle'}"></button>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-4 border-right border-bottom">
        <button mat-button class="square" (click)="changeState($event.target!, 4)" [disabled]="state4 !== '' || !activeGame" [ngClass]="{'red': state4 === 'cross', 'blue': state4 === 'circle'}"></button>
      </div>
      <div class="col-4 border-right border-bottom">
        <button mat-button class="square" (click)="changeState($event.target!, 5)" [disabled]="state5 !== '' || !activeGame" [ngClass]="{'red': state5 === 'cross', 'blue': state5 === 'circle'}"></button>
      </div>
      <div class="col-4 border-bottom">
        <button mat-button class="square" (click)="changeState($event.target!, 6)" [disabled]="state6 !== '' || !activeGame" [ngClass]="{'red': state6 === 'cross', 'blue': state6 === 'circle'}"></button>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-4 border-right">
        <button mat-button class="square" (click)="changeState($event.target!, 7)" [disabled]="state7 !== '' || !activeGame" [ngClass]="{'red': state7 === 'cross', 'blue': state7 === 'circle'}"></button>
      </div>
      <div class="col-4 border-right">
        <button mat-button class="square" (click)="changeState($event.target!, 8)" [disabled]="state8 !== '' || !activeGame" [ngClass]="{'red': state8 === 'cross', 'blue': state8 === 'circle'}"></button>
      </div>
      <div class="col-4">
        <button mat-button class="square" (click)="changeState($event.target!, 9)" [disabled]="state9 !== '' || !activeGame" [ngClass]="{'red': state9 === 'cross', 'blue': state9 === 'circle'}"></button>
      </div>
    </div>
  </div>
</section>